<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcellonToGrbl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <applicationSettings>
        <ExcellonToGrbl.Properties.Settings>
            <setting name="zmin" serializeAs="String">
                <value>-1.8</value>
            </setting>
            <setting name="zmax" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="drillFeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="moveFeed" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="spindle" serializeAs="String">
                <value>3000</value>
            </setting>
        </ExcellonToGrbl.Properties.Settings>
    </applicationSettings>
</configuration>